
.hapusDokumen{
    border: 0px;
    border-radius: 5px;
    background-color: #ff0000;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
}
.hapusDokumen:hover {
    background-color: #a10e0e;
}

.unggahDokumen{
    border: 1px solid #ff0000;
    border-radius: 5px;
    background-color: white;
    font-weight: 600;
    margin-bottom: 1em;
    margin-right: 1em;
    color: #ff0000;
    padding-left: 1em;
    padding-right: 1em;
}

.unggahDokumen:hover {
    background-color: #ff0000;
    color: white;
}

.ringkasan {
    padding: 0.5em;
}

.h3 {
    color: #163269;
    font-size: 1.1em;
}

.tabel {
    margin-top: 2em;
}

.keluaran {
    margin-bottom: 4em;
    color:#163269;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
}

.yesUnggah{
    border: 0px;
    border-radius: 5px;
    background-color: #ff0000;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
}

.yesUnggah:hover {
    background-color: #a10e0e;
}

.cancelUnggah{
    font-weight: 600;
    margin-bottom: 1em;
    margin-right: 1em;
    color: #ff0000;
    padding-left: 1em;
    padding-right: 1em;
    border: 0px;
    background-color: transparent;
}

.tulisan{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #163269;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.tulisanProses{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #ff0000;
    margin-bottom: 0.5em;
    margin-top: 1em;
}

.ringkasan .buton button {
    background-color: #ff0000;
    color: #ffff;
    border-radius: 4px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    margin-right: 3vh;
    margin-top: 1em;
}