.container{
  min-height: 100vh;
}
.detailFormContainer{
  min-height: 100%;
}
.titleText{
  color: #D61B23 !important;
  font-weight: bold;
  text-decoration:solid;
  margin: 0.5em 0 0.2em;
}
.subTitleText{
  color: #163269 !important;
  text-decoration:solid; 
  font-weight: 700;
}

.formPersyaratan {
    background-color: #163269 ;
    color: white ;
    font-family: "Inter", sans-serif;
    font-size: 0.9em;
    cursor: pointer;
    padding: 1em;
    border-top: solid 1em white;
    border-bottom: solid 1em white;
    border-right: solid 1em white;
    min-width: 30vh;
  }

.formPersyaratan:hover{
  background-color: #081A3D;
  color: #FFC1C1;
}

.unduhSemua{
    color: red !important;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-size: 0.9em;
    cursor: pointer;
    text-decoration: none;
}

.buttonAdministrasi{
  color: #ff0000;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #ff0000;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  padding: 0.3em;
}

.buttonSimpan {
  background-color: #ff0000;
  color: #ffff;
  border-radius: 4px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  margin-top: 2em;
  margin-right: 3vh;
  padding : 0.5em;
}
.buttonBatal{
  color: #ff0000;
  border-radius: 4px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  margin-right: 3vh;
  padding: 0.5em;
  text-decoration: none;
}
.buttonBatal:hover{
  color: #ff0000;
}

.buttonAdministrasi:hover{
  color: #ff0000;
}
.iconFile{
  cursor: pointer;
}

.chart {
  width: 50vw;
}

.unduhRekap{
  border: 0px;
  border-radius: 5px;
  background-color: #ff0000;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  color: white;
  padding: 0.4em 1em;
}

.unduhRekap:hover {
  background-color: #c20505;
}