.title{   
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #163269;
    margin-left: 1%;
}

.subtitle{   
    font-weight: bold;
    font-size: 28px;
    color: #D61B23;
    bottom: 0;
    margin-bottom: auto;
    
}
.button {
    background-color: #ff0000;
    color: #ffff;
    border-radius: 4px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    margin-right: 3vh;
}

.cardstyle{
    background-color: #163269 !important;
    color: white;
    cursor: pointer;
}

.cardstyle:hover {
    background-color: #081A3D !important;
    color: #FFC1C1 !important;
}

.tulisanButton{
    color : #ffff;
    font-size: 2em;
    
}
.cardjudul{
    font-weight: lighter;
    font-size: 15px;
}

.headertable{
    background-color: #163269 !important;
    color: white;
}
.content{
    justify-content: center;
}
.general{
    min-height:100vh;
    padding: 1em;
}

.icon {
    font-size: 1.8rem;
    vertical-align: middle;
}

.alert {
    margin-top: 1em;
    color: #ff0000;
}

.form select {
    width: 20%;
    cursor: pointer;
}

.form h6 {
    color: #ff0000;
    font-size: 1.1em;
}