.lineBox:after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 3px solid #ff0000;
  transform: translate(-50%);
}

.lineBox {
  margin-right: 1em;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  height: 1.5em;
  width: 1.5em;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
}

.row {
  display: flex;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  width: 80vw;
}

.container {
  padding: 1em 0;
  margin-right: 2em;
  width: 100%;
  font-size: 1em;
}

.card {
  height: 100%;
}

.h5 {
  font-weight: 700;
}

.linkAlur {
  color: #ff0000;
  text-decoration: none;
  font-weight: 600;
}

@media screen and (max-width: 990px) {
  .rowContainer {
    flex-direction: column;
  }

  .row {
    width: 100% !important;
  }

  .lineBox {
    align-items: flex-start;
    padding-top: 4em;
  }
}
