@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.buat {
    width: 100%;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    color: #163269;
  }

.buatContainer {
    padding: 40px;
    margin: auto;
    width: 100%;
    
}

.buat .buatContainer h4 {
    display: block;
    font-weight: 600;
}

.buat .buatContainer label {
    margin-bottom: 14px;
    font-size: 20px;
    font-weight: 600;
}

.buat .buatContainer textarea {
    border: 1px solid #163269;
    outline: none;
    padding: 10px;
    letter-spacing: 1px;
  }

.buat .buatContainer .line {
    margin-top: 5vh;
}

.buat .buatContainer .buton {
    margin-top: 3vh;
    margin-right: 3vh;
    
}

.buat .buatContainer button {
    background-color: #ff0000;
    color: #ffff;
    border-radius: 4px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    margin-right: 3vh;
   
}

.buat button {
    background-color: #ff0000;
    color: #ffff;
    border-radius: 4px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    margin-right: 3vh;
}

.buat p {
    color: #ff0000;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}

.buat p:hover {
    color: red;

}

.buat button:hover {
    color: white;
    background-color: #ff0000;

}

.buat .buatContainer p {
    color: #ff0000;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    margin-top: 2vh;
}
