.judul{
    color: white;
    background-color: #163269;
}

.paginationButtons{
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: #ff0000;
}

.paginationButtons a{
    padding: 10px;
    margin: 8px;
    border: 1px solid #ff0000;
    color: #ff0000;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none !important;
}

.paginationButtons a:hover{
    color: white;
    background-color: #ff0000;
}

.paginationActive{
    color: white;
}

.paginationActive a{
    background-color: #ff0000;
}