.container {
    margin: 2em 5em;
    min-height: 100vh;
}

.subContainer {
    display: flex;
    justify-content: space-between;
    color: #163269;
    margin-bottom: 1em;
}

.subContainer h5 {
    color: #ff0000;
}

.search input {
    margin-right: 1em;
    width: 20vw;
}

.search input:focus {
    outline: 0.5px solid #163269;
}

.button {
    border: 1px solid white !important;
}

.button:hover {
    border: 1px solid #ff0000;
}

.requestButton {
    font-weight: 600 !important;
}

.namaDosen {
    color: #163269 !important;
    text-decoration: none !important;
    cursor: pointer;
    font-weight: 600;
}

.namaDosen:hover  {
    color: red !important;
}

@media screen and (max-width: 990px) {
    .container {
        margin: 2em 2em;
        min-height: 100vh;
    }
    .subContainer {
        display: block;
    }
    .search input {
        margin-right: 1em;
        width: 50vw;
    }
}
