
.tableTitle {
    margin-top: 2em;
}

.container {
    min-height: 100vh;
  }

.containerTable {
    padding: 30px;
}

.titleSecond {
    color: #D61B23 !important;
    font-weight: bold;
    text-decoration:solid; 
    margin-top: 2em;
}

.buttonContainer {
    display: flex;
    margin-top: 2em;
  }
  
  .button, .activeButton {
    outline: none;
    background-color: white;
    border: 1px solid #ff0000;
    color: #ff0000;
    margin-top: 1em;
    padding: 0.4em 1.3em;
    border-radius: 5px;
    font-weight: 600;
  }
  
  .button:hover {
    background-color: #ff0000;
    color: white;
  }
  

