.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Open Sans", sans-serif;
  color: #163269;
  padding-top: 4em;
}

.popUp button {
  background-color: #ff0000;
  color: #ffff;
  border-radius: 4px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  margin-right: 3vh;
}

.popupInner {
  align-items: center;
  background: white;
  padding-top: 50px;
  padding-bottom: 15px;
  margin: 80px 480px 0px 480px;
  border-radius: 4px;
}

.buttonYa {
  background: #ff0000 !important;
  color: white;
  padding-right: 15px;
  padding-left: 15px;
  border: none !important;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 30px;
  font-size: 15px;
  font-weight: 600;
}

.buttonTidak {
  background: white;
  color: #ff0000;
  padding: 10px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
}

.popupBody {
  color: #163269;
  font-size: 17px;
  border-bottom: 1px solid rgb(216, 214, 214);
  border-top: 1px solid rgb(216, 214, 214);
  padding-top: 15px;
  padding-left: 5px;
  font-weight: 50px;
  text-align: center;
}

.btn-danger:hover {
  color: white;
  background-color: #ff0000;

}

.popupButton {
  display: flex;
  padding-top: 15px;
  justify-content: flex-end;
}
