.title {
    color: #163269;
}

.isian {
    padding: 70px;
    min-height: 100vh;
}

.judul {
    width: 20%;
}

.judulKonten {
    padding: 10px;
    vertical-align: top;
    color: #163269;
    font-weight: 700;
}

.isi {
    width: 70%;
}

.konten {
    padding: 15px;
}

