.title {
    color: #163269;
}

.isian {
    padding: 50px;
    min-height: 100vh;
    white-space: pre-wrap;
}

.tanggal {
    margin-top: 20px;
    font-weight: 500;
}
.judul {
    font-weight: 500;
}

.divButton {
    text-align: right;
}
.button {
    background-color: #ffff;
    color: #ff0000;
    border-color: #ff0000;
    border-radius: 15px;
}
