.container {
    min-height: 100vh;
  }

.label{
    color: #163269;
    font-weight: bold;
}
  
.lihatProfilSelengkapnya:hover {
    background-color: #ff0000;
    color: white;
}

.lihatProfilSelengkapnya {
    border: 1px solid #ff0000;
    border-radius: 5px;
    background-color: white;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #ff0000;
    padding: 0.4em 1em;
}

.section{
    margin-bottom: 2em;
}

.subSection{
    margin-bottom: 1em;
}

.terima{
    border: 0px;
    border-radius: 5px;
    background-color: #3DB166;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    color: white;
    padding: 0.4em 1em;
}
.terima:hover {
    background-color: #2d7f4a;
}

.tolak{
    border: 0px;
    border-radius: 5px;
    background-color: #ff0000;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    color: white;
    padding: 0.4em 1em;
}

.tolak:hover {
    background-color: #c20505;
}

.confirmReject, .cancelReject {
    background-color: white;
    border: 0px solid #163269;
}

.confirmReject {
    background-color: #ff0000;
    color: white;
    padding: 0.3em 1.3em;
    border-radius: 5px;
}

.cancelReject {
    padding-right: 1em;
}

.confirmReject:hover {
    background-color: #c20505;
}

.cancelReject:hover {
    color:#ff0000;
}