.container {
  border: 1px solid #163269;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  padding: 1.2em 1em;
}

.dosen span {
  color: #163269;
  margin-right: 1.5em;
  font-size: 1em;
  display: inline-block;
}

.dosen span:first-child {
  font-weight: 700;
}

.dosen span:last-child {
  color: black;
}

.buttonContainer {
  display: flex;
}

.button {
  outline: none;
  background-color: white;
  border: 1px solid #ff0000;
  color: #ff0000;
  margin-top: 1em;
  padding: 0.4em 1.3em;
  border-radius: 5px;
  font-weight: 600;
}

.button:hover {
  background-color: #ff0000;
  color: white;
}


.activeButton {
  background-color: #ff0000;
  color: white;
}

@media screen and (max-width: 990px) {
  .container {
      display: block;
  }
  .buttonContainer {
    display: block;
  }
  .button, .activeButton {
    padding-left: 0.5em;
  }
}