.titleText{
    color: #D61B23 !important;
    font-weight: bold;
    text-decoration:solid; 
    margin-right: 1em;
  }

.containerFilter {
    margin: 0% !important;
    padding: 0% !important;
}

.filterLabel {
    color: white;
    font-weight: 500;
    padding: 6px !important;
    margin-right: 5px;
    text-align: left !important;
    background-color: #163269;
}

.cardBody {
    padding: 0 !important;
}

.namaMahasiswa {
    color: #163269;
    font-weight: 600;
    cursor: pointer;
}

.manageList {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 990px) {
    .manageList {
        display: block;
    }

    .form {
        font-size: 0.8rem;
    }

}

@media screen and (max-width: 400px) {
    .manageList {
        display: block;
    }

    .form {
        font-size: 0.7rem;
    }

}