.container {
    background-color: #2B2B2B;
    padding: 2em;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.container .img-box img {
    margin-right: 5em;
}

.contactBox {
    margin-left: 2em;
}

.contact {
    color: white;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    border-left: 2px solid rgba(255, 255, 255);
    padding-left: 1em;
    letter-spacing: 0.125em;
}

.socialBox {
    display: flex;
}

.social a {
    margin-right: 3em;
    color: #ff5858;
    text-decoration: none;
}

@media screen and (max-width: 990px) {
    .container {
        display: block;
    }

    .contactBox {
        display: block;
        margin-left: 0;
        margin-top: 2em;
    }

    .socialBox {
        display: block;
    }
}