.head h4 {
    display: block;
    font-weight: 600 !important;
    font-family: "Open Sans", sans-serif;
    color: #163269;
    line-height: 49px;
    padding-bottom: 7px;
}

.head h1 {
    font-size: 25pt;
    font-family: "Open Sans", sans-serif;
    color: #163269;
    line-height: 49px;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 1em;
    display: block;
}

.berkasPenting h4 {
    font-weight: bold;
    font-size: 28px;
    color: #163269;
    bottom: 0;
    margin-bottom: auto;
    padding-bottom: 1em;
}

.head h2 {
    padding-bottom: 20px;
    display: block;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    color: #163269;
    line-height: 49px;
}

.login h3 {
    padding-bottom: 5px;
    display: block;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: #163269;
    line-height: 49px;
}

.pusatInformasi h1 {
    font-size: 25pt;
    font-family: "Open Sans", sans-serif;
    color: #163269;
    line-height: 49px;
    font-weight: bold;
    padding-bottom: 1em;
    display: block;
}

.pengumuman h1 {
    font-size: 25pt;
    font-family: "Open Sans", sans-serif;
    color: #163269;
    line-height: 49px;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 14px;
    display: block;
}

.heading {
    color: #163269;
}