@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.landingPage {
  font-family: "Open Sans", sans-serif;
  color: #163269;
}
.subtitle {
  font-size: 2.5em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: white;
}

.alur {
  font-size: 1.8em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
}

.linkToAlur {
  width: fit-content;
  color: #b6c9ee;
  text-decoration: none;
}

.linkToAlur:hover {
  color: #2451a9;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate {
  animation: 0.4s ease-in 0s 1 fadeIn;
}

.title {
  margin-top: 2em;
  font-size: 54pt;
  font-weight: bold;
  display: flex;
  justify-content: center;
  box-shadow: 10;
  color: white;
}

.loginButton {
  font-weight: bold;
  font-size: 20pt;
  color: white;
  background-color: #ff0000;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 1px solid #ff0000;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: auto;
  text-decoration: none;
}

.alurTitle {
  font-size: 36pt;
  font-weight: bold;
  padding-top: 1em;
}

.pengumumanTitle {
  font-size: 36pt;
  font-weight: bold;
  padding-top: 1em;
}

.sectionAlur h4 {
  color: #163269;
  font-weight: 700;
  margin-bottom: 4em;
}

.sectionAlur h5 {
  padding: 0 1em;
  border-right: 2px solid #163269;
  width: fit-content;
  cursor: pointer;
  font-weight: 600;
}

.sectionAlur h5:last-child {
    border-right: 0px solid #163269;
}

.sectionAlur h5:hover {
  color: #ff0000;
}

.sectionBox {
  display: flex;
  justify-content: center;
}

.activated {
  color: #ff0000;
}

.cover {
  background-image: url("/images/pacilq.png"),
    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  position: relative;
  height: 600px;
  width: 100%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  background-blend-mode: overlay;
}

@media screen and (max-width: 990px) {
  .subtitle {
    font-size: 18pt;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: white;
  }
  .cover {
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
  }
  .alurTitle {
    font-size: 24pt;
    font-weight: bold;
    padding-top: 1em;
  }

  .pengumumanTitle {
    font-size: 24pt;
    font-weight: bold;
    padding-top: 1em;
  }

  .loginButton {
    font-size: 15pt;
  }

  .title {
    margin-top: 1.5em;
    font-size: 40pt;
    font-weight: bold;
    display: flex;
    justify-content: center;
    box-shadow: 10;
    color: white;
  }

  .alur {
    font-size: 1.2em;
  }
}
