@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.login {
  width: 100%;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  color: #163269;
}

.login .simkuspa {
  justify-content: center;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  margin-top: 100px;
  line-height: 1.6;
  letter-spacing: 0.135em;
  margin-bottom: 0;
}

.login .garis {
  content: "";
  display: block;
  margin: 0 auto;
  width: 16%;
  border-bottom: 3px solid #163269;
}

.login .loginContainer {
  padding: 30px;
  margin: auto;
  width: 100%;
  max-width: 450px;
  min-height: 400px;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 11px 14px -2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  line-height: 1.6;
}
.login .loginContainer h4 {
  margin: 14px 0;
  display: block;
  font-weight: 600;
}

.login .loginContainer label {
  margin: 14px 0;
  display: block;
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
  margin-top: 25px;
}

.login .loginContainer input {
  width: 100%;
  border: 1px solid #163269;
  outline: none;
  font-size: 19px;
  padding: 10px;
  letter-spacing: 1px;
  border-radius: 5px;
}

.login .loginContainer button {
  margin-top: 25px;
  width: 20%;
  padding: 5px;
  background-color: #ff0000;
  color: #ffff;
  border-radius: 4px;
  border: none;
}

.unrecognized {
  width: 80%;
  margin: 0 auto;
  margin-top: 0.5em;
}

.loginContainer p {
  color: #ff0000;
  margin-top: 1em;
}