.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 25vh;
}

.container .login {
    flex-direction: row;
    text-align: center;
}

.container button {
    outline: none;
    border: 1px solid #163269;
    border-radius: 5px;
    background-color: #163269;
    font-weight: 600;
    color: white;
    height: fit-content;
    width: fit-content;
    align-self: center;
    padding: 1em;
    margin-right: 1em;
}

.container button:hover {
    border: 1px solid #081A3D;
    background-color: #081A3D;
    color: #FFC1C1;
}

.container h1 {
    font-weight: 600;
    letter-spacing: 0.15em;
    margin-bottom: 1.5rem;
    color: #081A3D;
}

.container h4 {
    color: #ff0000;
    font-weight: 600;
}