.layout {
    margin: 2em;
}

.subnavbar {
    padding-left: 1em;
    display: flex;
}

.item {
    padding: 0 1em 0.7em 1em;
    margin-right: 1em;
}

.itemActive {
    border-bottom: 3px solid #ff0000;
}

.itemLink {
    color: #163269;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-weight: 500;
}

.linkActive {
    color: #ff0000;
    font-weight: 700;
}

.itemLink:hover {
    color: #ff0000;
}

.container {
    border: 1px solid #163269;
    border-radius: 6px;
    padding: 1em;
}

@media screen and (max-width: 990px) {
    .subnavbar {
        overflow-x: scroll;
    }
}