.navbar {
  padding: 0 1em;
  padding-bottom: 0 !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.navbarToggler {
  margin-bottom: 0.5em;
}

.brand {
  letter-spacing: 0.12em;
  font-family: "Inter", sans-serif;
  font-size: 0.95rem;
  font-weight: 700;
  color: #163269 !important;
  text-decoration: none;
}

.link {
  margin-left: 1em;
  padding-bottom: 1em;
  color: #163269 !important;
  font-family: "Inter", sans-serif;
  font-size: 0.95em;
  cursor: pointer;
  border-bottom: 2px solid white
}

.link:hover {
  color: #ff0000 !important;
}

.active {
  color: #ff0000 !important;
  border-bottom: 2px solid #ff0000;
  font-weight: 600;
}

.item {
  margin: 0;
}

.icon {
  font-size: 1em;
  color: #163269;
  padding-top: 0.5rem;
  margin: 2em 1em 0 1em;
  text-decoration: none;
  width: fit-content;
}

.text {
  margin-left: 0.5em;
}

.icon:hover {
  color: #ff0000;
  cursor: pointer;
}

.iconActive {
  color: #ff0000;
  padding-top: 0.5rem;
  text-decoration: none;
  margin: 2em 1em 0 1em;
}

.iconActive:hover {
  color: #ff0000;
  cursor: pointer;
}

#path {
  display: none;
}

#pathActive {
  display: none;
  color: #ff0000;
}

.rightIcon {
  display: flex;
  align-items: baseline;
  margin-top: 0.4rem;
  position: absolute;
    right: 0;
    font-family: 'Open Sans', sans-serif;
}

.logout {
  width: fit-content;
}

.term {
  color: #163269;
  font-weight: 600;
  border: 3px solid #163269;
  padding: 0.3em;
  border-radius: 5px;
}

@media screen and (max-width: 990px) {
  .icon, .iconActive {
    display: none;
  }

  #path, #pathActive {
    display: block;
  }

  .rightIcon {
    display: block;
    position: relative;
  }
  .term {
    margin-left: 1em;
  }
}