.container {
    margin: 1em;
}

.description {
    color: blue;
}

.title {
    font-weight: 700;
}

.judul{
    border-left: 5px solid; 
    color: #163269;
    flex-grow: 2;
}

.tulisanButton{
    margin-left: 10px;
    color : #FF0000;
}
.cardheader{
    background-color: #163269 !important;
    color: white;
    border: 1px solid #163269;
    border-radius: 5px 5px 0 0;
}
.cardBody {
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0 0 5px 5px;
    white-space: pre-wrap;
}

.cardBody p {
    max-height: 17em;
    line-height: 1.7em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.7em;
}

.tanggal{
    text-align: right;
}

.row {
    display: flex;
    width: 91%;
    margin-bottom: 0.5em;
    justify-content: space-between;
}

.cols {
    align-self: center;
    margin-left: 1em;
}

.buttons {
    display: flex;
    flex-direction: row;
}


