
.popUp {
    font-family: "Open Sans", sans-serif;
    color: #163269;
}

.popUp button {
    background-color: #ff0000;
    color: #ffff;
    border-radius: 4px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    margin-right: 3vh;
}

.popUp p {
    color: #ff0000;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}

.popUp p:hover {
    color: red;

}

.popUp button:hover {
    color: white;
    background-color: #ff0000;

}
