



.general{
    min-height:100vh;
    padding: 1em;
}

.cols {
    align-self: center;
    margin-left: 1em;
    text-align: right;
    margin-bottom: 1em;
}

.profil {
    margin: 0.5em 0 1.5em;
}

.profil img {
    width: 300px;
    height: 265px;
    margin-left: 0.5em;
}

.profil .partsatu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.subtitle{   
    font-weight: bold;
    font-size: 24px;
    color: #163269;
    bottom: 0;
    margin-bottom: auto;
    margin-top: 1em;
    
}

.komponen {
    margin-left: 2em;
}

.tulisan {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: black;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.subtitledua {
    font-weight: bold;
    font-size: 24px;
    color: #163269;
    bottom: 0;
    margin-bottom: auto;
    margin-top: 1.5em;
}

.jarak {
    margin-top: 2em;
}

.switch {
    margin-top: 2.2em;
    margin-left: 1em;
}

.left {
    margin-left: 0.5em;
}

.partsatu h2 {
    margin-top: 0.5em;
    margin-right: 0.5em;
}

.partsatu h2 span {
    font-size: 18px ;
    font-weight: 600 !important;
    margin: auto
}

.partsatu .bidangKepakaran {
    color: #ff0000 !important;
    background-color: white !important;
    border: 2px solid #ff0000 !important;
}

.publikasi .flexCol {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.publikasi .flexRow {
    display: flex;
    flex-direction: row;
}

.publikasi .bidangKepakaran {
    color: white !important;
    background-color: #ff0000 !important;
    border: 2px solid #ff0000 !important;
}

.publikasi h2 span {
    font-size: 18px ;
    font-weight: 600 !important;
    margin: auto
}

.publikasi h2 {
    margin-top: 0.5em;
    margin-right: 0.5em;
}

.publikasi a {
    text-decoration: none;
    word-wrap:break-word;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    
}

.publikasi .publikasiDosen {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: black;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    
}

.publikasi span {
    margin-right: 1em;
}

.publikasi .publikasiDosen:hover {
    color: #ff0000;
}

.publikasi .fileIcon {
    color: #ff0000;
    
}

.topik a {
    text-decoration: none;
    
}

.topik .tulisan:hover {
    color: #ff0000;
    
}

.topik li {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    color: black;
}

.general .lihatProfilSelengkapnya:hover {
    background-color: #ff0000;
    color: white;
}

.general .lihatProfilSelengkapnya {
    border: 1px solid #ff0000;
    border-radius: 5px;
    background-color: white;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #ff0000;
    padding: 0.4em 1em;
}

@media screen and (max-width: 650px) {
    .komponen {
        margin-left: 0.5em;
    }
}