.title{   
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #163269;
    margin-left: 1%;
}
.subtitle{   
    font-weight: bold;
    font-size: 24px;
    color: #163269;
    bottom: 0;
    margin-bottom: auto;
    
}
.tulisan {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: black;
    margin-bottom: 0.5em;
}

.buttonEdit{
    text-align: left;
    margin-left: 2%;
}

