.title{   
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #163269;
    margin-left: 1%;
}
.subtitle{   
    font-weight: bold;
    font-size: 28px;
    color: #163269;
    bottom: 0;
    margin-bottom: auto;
    
}
.containerLihatSelengkapnya{
    text-align: center;
    color:"#163269";
    text-decoration:"none";
}

.containerBerkasPerJenis{
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 3%;
}
.buttonEdit{
    color: #ff0000;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #ff0000;
}

.buttonDelete{
    color: white;
    background-color: #ff0000;
    border-radius: 4px;
    border: none;
}
.lihatSelengkapnyaText{
    font-weight: bold;
    color: #163269;
}