.container {
    margin: 3em 8em;
}

.container h6 {
    color: #ff0000;
}

.inputBox {
    margin: 1.5em 0;
}

.inputBox select {
    width: fit-content;
    border: 1px solid #163269;
}

.inputBox input, .inputBox textarea {
    border: 1px solid #163269;
    color: #163269;
}

.inputBox input:focus, .inputBox textarea:focus {
    border: 1px solid #163269;
}

.inputBox label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #163269;
    margin-bottom: 0.5em;
}

.inputBox [type="date"] {
    display: block;
    padding: 0.2rem;
    border-radius: 3px;
}

.req {
    color: #ff0000;
}

.button {
    margin-top: 2em;
}

.replyBox {
    display: flex;
    flex-wrap: wrap;
}

.replyBox div {
    margin-right: 2em;
}

.mailKeyHeader {
    color: #163269 !important;
}

.content {
    border: 1px solid #163269;
    border-radius: 5px;
    padding: 0.75em;
    overflow-y: scroll;
    height: 50vh;
    white-space: pre-line;
}

.content table, .topik{
    margin-left: 3em;
}

.info {
    margin: 0 0.5em;
}

@media screen and (max-width: 990px) {
    .container {
        margin: 1em;
    }

    .info {
        margin: 0;
    }
}