.ringkasan {
    padding: 0.5em;
}
.h3 {
    color: #163269;
    font-size: 1em;
}

.h3_first{
    margin-top: 1.7em;
}

.topik {
    margin: 0.5em 0 1.5em;
}

.topik p{
    margin-bottom: 1.4em;
}

.topik form label:first-child {
    margin-top: 1.7em;
}

.topik label {
    color: #163269;
    font-weight: 600;
    margin-bottom: 0.5em;
    display: block;
}

.topik textarea {
    margin-bottom: 1em;
}

.topik input {
    display: block;
    padding: 0.2em 0.5em;
    outline: none;
    border: 1px solid #a7adb3;
    border-radius: 3px;
}

.topik input::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

.edit, .cancel {
    margin-top: 1em;
    margin-right: 0.2em;
    padding: 0.4em 1em;
    width: fit-content;
    font-weight: 600;
    cursor: pointer;
    border: 0px solid white;
    background-color: white;
    color: #ff0000;
}

.edit {
    border: 1px solid #ff0000;
    border-radius: 5px;
}

.cancel {
    font-weight: 400;
}

.cancel:hover{
    color:#163269;
}

.edit:hover {
    color: white;
    background-color: #ff0000;
}

.tabel {
    margin-top: 2em;
}