.tabel{
    border-radius: 8px;
    box-shadow: 2px 2px 10px 2px rgb(210, 208, 208);
}

.tabel tbody tr td a button{
    border: white;
    color: #ff0000;
}

.tabel thead th:first-child{
    border-top-left-radius: 6px;
}

.tabel thead th:last-child{
    border-top-right-radius: 6px;
}

.tabel tbody {
    border-top-width: 0 !important;
}

.tabel tbody td {
    vertical-align: middle;
    padding-left: 1em;
}

.judul{
    color: white;
    background-color: #163269;
}

.judul th {
    padding: 1em;
}

.action{
    cursor: pointer;
    padding: 1em;
}

@media screen and (max-width: 800px) {
    .tabel {
        max-width: fit-content !important;
        display: block;
        overflow-x: auto;
        border-radius: 4px;
        white-space: nowrap;
    }
}