
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.tambah {
    width: 100%;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    color: #163269;
  }

.tambahContainer {
    padding: 40px;
    margin: auto;
    width: 100%;
    
}

.tambah .tambahContainer h4 {
    display: block;
    font-weight: 600;
}

.tambah .tambahContainer label {
    margin-bottom: 14px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: #163269;
}

.tambah .tambahContainer select {
    border: 1px solid #163269;
    outline: none;
    padding: 10px;
}

.tambah .tambahContainer input {
    border: 1px solid #163269;
    outline: none;
    padding: 10px;
}

.tambah .tambahContainer .line {
    margin-top: 5vh;
    border: none;
}

.tambah .tambahContainer .buton {
    margin-top: 7vh;
    margin-right: 3vh;
    
}

.tambah .tambahContainer button {
    background-color: #ff0000;
    color: #ffff;
    border-radius: 4px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    margin-right: 3vh;
   
}

.tambah button {
    background-color: #ff0000;
    color: #ffff;
    border-radius: 4px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    margin-right: 3vh;
}

.tambah p {
    color: #ff0000;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}

.tambah p:hover {
    color: red;

}

.tambah button:hover {
    color: white;
    background-color: #ff0000;
}

.tambah .tambahContainer p {
    color: #ff0000;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    margin-top: 2vh;
}

.tambah .tambahContainer span {
    font-weight: 400;
}

.req {
    color: #ff0000;
}
